@model PortalCalendarServer.Services.PageViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Calendar - Default</title>
    
    @* EPD Colors *@
    @await Html.PartialAsync("Includes/_EpdColors.cshtml", Model.CssColors)
</head>

<body>
    Hello world
</body>
</html>
