[submodule "weather-icons"]
	path = weather-icons
	url = https://github.com/erikflowers/weather-icons
[submodule "GxEPD2"]
	path = GxEPD2
	url = https://github.com/misch2/GxEPD2.git
	branch = GDEY075Z08-inverted
