server/local/
server/node_modules/
server/vendor/
server/cache/lwp/
!server/cache/lwp/.gitkeep
server/.env
server/hypnotoad.pid
server/*.conf
server/log/*.log
server/generated_images/*.png
client/include/boards/*/board.h
!client/include/boards/example/board.h
.pio/
.vstags
.vscode/
# .NET artifacts:
/server-v2/**/bin/
/server-v2/**/obj/
/server-v2/_data*/
/server-v2/.vs
/server-v2/PortalCalendarServer/.vs
/server-v2/generated_images/*.png
/_example
/.vs
/server-v2/PortalCalendarServer/publish.cmd
/server-v2/PortalCalendarServer/appsettings.Production.json