# client/include/boards/*/board.h
!client/include/boards/example/board.h
.pio/
.vstags
.vscode/
.vs
/server/_data*
/server/localdata/database/*
/server/localdata/generated_images/*.png
/server/PortalCalendarServer/publish.cmd
# .NET artifacts:
/server/**/bin/
/server/**/obj/