@{
    ViewData["Title"] = "Change Password";
}

<h3>Change Password</h3>

<form method="post" action="/change-password" class="row g-3" style="max-width: 500px;">
    @Html.AntiForgeryToken()
    <div class="col-12">
        <label class="form-label">Current Password</label>
        <input type="password" name="currentPassword" class="form-control" required />
    </div>
    <div class="col-12">
        <label class="form-label">New Password</label>
        <input type="password" name="newPassword" class="form-control" required />
    </div>
    <div class="col-12">
        <label class="form-label">Confirm New Password</label>
        <input type="password" name="confirmPassword" class="form-control" required />
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
</form>
