@model Display
@using PortalCalendarServer.Controllers
@using PortalCalendarServer.Models.DatabaseEntities

<h1>Success!</h1>

<p>Google Fit authentication successful.</p>

<div class="mb-3">
    <label class="form-label">Auth token:</label>
    <pre class="border p-2 bg-light">@ViewData["AccessToken"]</pre>
</div>

<div class="mb-3">
    <label class="form-label">Refresh token:</label>
    <pre class="border p-2 bg-light">@ViewData["RefreshToken"]</pre>
</div>

<p>
    <a href="@Url.Action(nameof(UiController.ConfigUiShow), "Ui", new { displayNumber = Model.Id })" class="btn btn-primary">Return to Configuration</a>
</p>
