@model Display
@using PortalCalendarServer.Models.Entities

<!-- https://css-tricks.com/snippets/css/a-guide-to-flexbox/ -->
<div style="display: flex; flex-flow: row wrap; justify-content: space-around;">
    <div>
        Calendar page <a href="/calendar/@Model.Id/html?preview_colors=true">as HTML</a>:
        <br>
        <iframe src="/calendar/@Model.Id/html?preview_colors=true" 
                width="@Model.VirtualWidth()" 
                height="@Model.VirtualHeight()" 
                style="border: 1px solid black">
        </iframe>
    </div>
    <div>
        Calendar page <a href="/api/calendar/bitmap?preview_colors=true&format=png&mac=@Model.Mac">as IMG</a> with fixed size:
        <br>
        <img src="/api/device/bitmap?preview_colors=true&format=png&mac=@Model.Mac" 
             style="border: 1px solid black"
             alt="Calendar as image">
    </div>
</div>
