/* resets */

html,
body {
    /* background-color: aqua; */
    font-size: 17pt;
    font-family: 'Times New Roman', Times, serif;
}

html,
body,
div,
p {
    padding: 0;
    margin: 0;
}


/* debug */

div,
p {
    /* border: 3px dotted gray; */
}

div {
    /* background-color: cadetblue; */
}

div div {
    /* background-color: coral; */
}

div div div {
    /* background-color: bisque; */
}

div div div div {
    /* background-color: darkolivegreen; */
}


/* fonts */

@font-face {
    font-family: 'DIN';
    /* src: url('/fonts/D-DIN.otf') format('opentype'); */
    /* test cestiny: */
    src: url('/fonts/651-font.otf') format('opentype');
}


/* @font-face {
    font-family: 'DINBold';
    src: url('/fonts/D-DIN-Bold.otf') format('opentype');
}
 */

@font-face {
    font-family: 'DINCondensed';
    src: url('/fonts/D-DINCondensed.otf') format('opentype');
}

body {
    /* background-color: burlywood; */
    font-family: 'DIN';
}

div#spacer {
    position: absolute;
    top: 50px;
    left: 70px;
    height: 700px;
    width: 375px;
    /* background-color: gainsboro; */
}

div.top-month-header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;
    font-family: 'DIN';
    font-size: 1rem;
    border-bottom: 2px solid black;
}

div.day-number-big {
    position: absolute;
    top: -25px;
    left: 0px;
    font-family: 'DINCondensed';
    font-size: 400px;
    transform: scale(0.8, 1) translate(-40px, 0);
}

div.day-of-week-block {
    position: absolute;
    top: 370px;
    left: 0px;
    width: 100%;
    height: 145px;
    font-family: 'DIN';
    font-size: 1rem;
    border-bottom: 2px solid black;
}

div.day-of-week-block div.separator {
    margin-top: 7px;
    border-bottom: 2px solid black;
    margin-bottom: 6px;
}

div.dow-number-and-name {
    display: flex;
    justify-content: space-between;
    height: 1rem;
}

div.bunch-of-bars {
    display: flex;
    gap: 5px;
}

div.bunch-of-bars div.bar {
    width: 7px;
    height: 30px;
    background-color: black;
}

div.icons-container {
    position: absolute;
    top: 525px;
    left: 0px;
    width: 100%;
    height: 145px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    /* background-color: brown; */
}

.icon {
    height: 65px;
    width: 65px;
    background-image: url("/images/custom-portal-sign-icons-cropped.png");
    background-size: 1150px;
    border: 2px solid black;
    margin: 0;
}

.greyed {
    -webkit-mask-image: url("/images/checkered_mask_black.png");
    mask-image: url("/images/checkered_mask_black.png");
}


/*
 x = 3 + n*72 (approximately)
*/

.icon-a1 {
    background-position: -3px -4px;
}

.icon-a2 {
    background-position: -75px -4px;
}

.icon-a3 {
    background-position: -146px -4px;
}

.icon-a4 {
    background-position: -218px -4px;
}

.icon-a5 {
    background-position: -290px -4px;
}

.icon-a6 {
    background-position: -361px -4px;
}

.icon-a7 {
    background-position: -433px -4px;
}

.icon-a8 {
    background-position: -506px -4px;
}

.icon-a9 {
    background-position: -578px -4px;
}

.icon-a10 {
    background-position: -650px -4px;
}

.icon-a11 {
    background-position: -722px -4px;
}

.icon-a12 {
    background-position: -794px -4px;
}

img.aperture-logo {
    position: absolute;
    top: 710px;
    left: 0px;
    height: 30px;
}