/* resets */

html,
body {
    /* background-color: aqua; */
    font-size: 17pt;
    font-family: 'Times New Roman', Times, serif;
}

html,
body,
div,
p {
    padding: 0;
    margin: 0;
}


/* debug */

div,
p {
    /* border: 3px dotted gray; */
}

div {
    /* background-color: cadetblue; */
}

div div {
    /* background-color: coral; */
}

div div div {
    /* background-color: bisque; */
}

div div div div {
    /* background-color: darkolivegreen; */
    /* background-color: #eee; */
}

@font-face {
    font-family: 'DIN';
    /* src: url('/fonts/D-DIN.otf') format('opentype'); */
    /* test cestiny: */
    src: url('/fonts/651-font.otf') format('opentype');
}

@font-face {
    font-family: 'DINCondensed';
    src: url('/fonts/D-DINCondensed.otf') format('opentype');
}

:root {
    --epd-black: #111;
    --epd-white: #ddd;
    --epd-red: #a00;
}

body {
    /* background-color: burlywood; */
    font-family: 'DIN';
    background-color: var(--epd-white);
    color: var(--epd-black);
}

div#visible-area {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 780px;
    width: 460px;
    overflow: hidden;
    /* background-color: gainsboro; */
}

div.date-row {
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    /* for the case when the date or name is too long */
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

div.top-date-row {
    top: 0;
    left: 0;
}

div.bottom-date-row {
    top: 225;
    left: 0;
}

div.horizontal-separator {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid var(--epd-black);
}

div.day-number-big {
    position: absolute;
    width: 100%;
    top: 20;
    left: 0;
    font-size: 6rem;
    text-align: center;
}

div.weather-current-big {
    position: absolute;
    width: 100%;
    top: 50;
    left: 0;
}

div.name-day-name {
    position: absolute;
    width: 100%;
    top: 170;
    left: 0;

    font-size: 1.5rem;
    text-align: center;
}

div.weather-forecast-container-grid {
    position: absolute;
    width: 100%;

    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0.2rem;
    grid-row-gap: 0.2rem;
}

div.weather-single-day-container-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.2fr 1fr 1.2fr;
    grid-column-gap: 0.2rem;
    grid-row-gap: 0.2rem;
}

div.weather-item {
    font-size: 1.0rem;
    border: 1px solid var(--epd-black);
    padding: 0.2em;
}

.weather-item-night {
    color: var(--epd-white);

    background-color: var(--epd-black);
    /* background-image: url("/images/checkered_mask_black.png"); */

    font-weight: bold;
    /* to compensate for the seemingly "thin" white text */
}

.weather-is-rain-or-snow {
    color: var(--epd-red);
}

.weather-item-night.weather-is-rain-or-snow {
    color: var(--epd-white);
    background-color: var(--epd-red);
}

div.weather-item.weather-item-night.weather-is-rain-or-snow {
    border-color: var(--epd-red);
}

div#bottom-signature {
    position: absolute;
    width: 100%;
    top: 760;
    left: 0;
    font-size: 0.7rem;
}

div#battery-status {
    position: absolute;
    width: 100%;
    text-align: right;
    top: 755;
    left: 0;
    font-size: 1.3rem;
}