/* resets */

html,
body {
    /* background-color: aqua; */
    font-size: 17pt;
    font-family: 'Times New Roman', Times, serif;
}

html,
body,
div,
p {
    padding: 0;
    margin: 0;
}


/* debug */

div,
p {
    /* border: 3px dotted gray; */
}

div {
    /* background-color: cadetblue; */
}

div div {
    /* background-color: coral; */
}

div div div {
    /* background-color: bisque; */
}

div div div div {
    /* background-color: darkolivegreen; */
}


/* fonts */

@font-face {
    font-family: 'DIN';
    /* src: url('/fonts/D-DIN.otf') format('opentype'); */
    /* test cestiny: */
    src: url('/fonts/651-font.otf') format('opentype');
}


/* @font-face {
    font-family: 'DINBold';
    src: url('/fonts/D-DIN-Bold.otf') format('opentype');
}
 */

@font-face {
    font-family: 'DINCondensed';
    src: url('/fonts/D-DINCondensed.otf') format('opentype');
}

body {
    /* background-color: burlywood; */
    font-family: 'DIN';
}

div#spacer {
    position: absolute;
    top: 50px;
    left: 70px;
    height: 700px;
    width: 365px;
    /* background-color: gainsboro; */
}

div.top-month-header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;
    font-family: 'DIN';
    font-size: 1rem;
    border-bottom: 2px solid black;
}

div.day-number-big {
    position: absolute;
    top: -25px;
    left: 0px;
    font-family: 'DINCondensed';
    font-size: 400px;
    transform: scale(0.8, 1) translate(-40px, 0);
}

div.day-of-week-block {
    position: absolute;
    top: 370px;
    left: 0px;
    width: 100%;
    /* height: 145px; */
    font-family: 'DIN';
    font-size: 1rem;
}

div.day-of-week-block div.separator {
    margin-top: 7px;
    border-bottom: 2px solid black;
    margin-bottom: 6px;
}

div.dow-number-and-name {
    display: flex;
    justify-content: space-between;
    height: 1rem;
}

div.bunch-of-bars {
    display: flex;
    gap: 5px;
}

div.bunch-of-bars div.bar {
    width: 7px;
    height: 30px;
    background-color: black;
}

div.icons-container {
    position: absolute;
    top: 515px;
    left: 0px;
    width: 100%;
    /* height: 145px; */
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    padding-top: 10px;
    border-top: 2px solid black;
}

.icon {
    height: 65px;
    width: 65px;
    border: 2px solid black;
    padding: 2px;
    margin: 0;
}

.grayed {
    -webkit-mask-image: url("/images/checkered_mask_black.png");
    mask-image: url("/images/checkered_mask_black.png");
}

div.calendar-container {
    position: absolute;
    top: 585px;
    left: 0px;
    width: 100%;
    height: 80px;
    /* font-size: 0.8rem; */
    margin-top: 1rem;
}

div.calendar-container div {
    text-overflow: ellipsis;
    /* Needed to make it work */
    overflow: hidden;
    white-space: nowrap;
}

img#aperture-logo {
    position: absolute;
    top: 705px;
    left: 0px;
    height: 30px;
}