/* resets */

html,
body {
    /*     background-color: aqua; */
    font-size: 18pt;
    font-family: 'Gidole';
    letter-spacing: 0.02em;
}

html,
body,
div,
p {
    padding: 0;
    margin: 0;
}


/* debug */

/*div,
p {
     border: 3px dotted gray; 
}

div {
     background-color: cadetblue; 
}

div div {
     background-color: coral; 
}

div div div {
     background-color: bisque; 
}

div div div div {
     background-color: darkolivegreen; 
     background-color: #eee; 
}
*/

:root {
    /* EPD colors - overridden by template */
    --epd-black: #000;
    --epd-white: #fff;
    --epd-red: #f00;
    --epd-yellow: #ff0;
}

body {
    font-size: clamp(14pt, calc(var(--display-height) / 44), 20pt);
    font-family: 'Gidole';
    letter-spacing: 0.02em;
    background-color: var(--epd-white);
    color: var(--epd-black);
    padding: 10px; /* creates the 10px inset */
    box-sizing: border-box; /* ensures padding is included in the 480x800 size */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content-container {
    display: flex;
    flex-direction: column;
}

/* "My calendar" */
h3#calendar-title {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

div.calendar-container {
    flex: 1 1 auto;
    overflow: hidden;
}

div.calendar-event-block {
    margin-top: 1rem;
}

div.calendar-event-block-today {
    color: var(--epd-red);
}

/* "Today and tomorrow" */
div.calendar-event-block-title {
    font-weight: bold;
    margin-top: 0.5rem;
    padding: 0.2rem 0.5rem;
    width: 100%;
    background-color: var(--epd-black);
    color: var(--epd-white);
}

div.calendar-event-block-content {
    margin-top: 0.5rem;
}

/* "Monday, 2024-12-25" */
div.calendar-day-title {
    font-weight: bold;
    margin-top: 0.5rem;
}

div.calendar-event {
    margin-top: 0.25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
