body {
    margin: 0;
    font-size: clamp(10pt, 2.2vw, 18pt);
    font-family: 'Playpen Sans', sans-serif;
}

#xkcd-container {
    display: grid;
    gap: 0.5rem;
    overflow: hidden;
    height: 100%; /* necessary for grid to fill the full height */
}

#xkcd-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    grid-area: image;
}

#xkcd-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0.5rem 0;
    color: var(--epd-black);
    grid-area: title;
}

#xkcd-alt-description {
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: alt;
}


@media (orientation: landscape) {
    #xkcd-container.image-orientation-landscape {
        grid-template-rows: max-content 1fr max-content;
        grid-template-areas:
            "title"
            "image"
            "alt"
    }

        /* Constrain the image in landscape mode */
        #xkcd-container.image-orientation-landscape #xkcd-image {
            max-height: 70vh;
            max-width: 100%;
            width: 100%; /* allow shrinking */
            height: auto; /* maintain aspect ratio */
            object-fit: contain;
            margin: 0 auto;
        }


    #xkcd-container.image-orientation-portrait {
        grid-template-rows: auto 1fr;
        grid-template-columns: max-content minmax(33vw, 1fr);
        grid-template-areas:
            "image title"
            "image alt"
    }

        /* Ensure the image column grows as much as possible */
        #xkcd-container.image-orientation-portrait #xkcd-image {
            max-height: 100vh;
        }
}

@media (orientation: portrait) {
    #xkcd-container.image-orientation-landscape {
        grid-template-rows: max-content max-content 1fr max-content;
        grid-template-areas:
            "title"
            "image"
            "empty"
            "alt"
    }
        /* Ensure the image column grows as much as possible */
        #xkcd-container.image-orientation-landscape #xkcd-image {
            max-height: 100vh;
        }

    #xkcd-container.image-orientation-portrait {
        grid-template-rows: max-content 1fr max-content;
        grid-template-areas:
            "title"
            "image"
            "alt"
    }

        /* Constrain the image in portrait mode */
        #xkcd-container.image-orientation-portrait #xkcd-image {
            max-height: 70vh; /* or 80vh depending on taste */
            width: auto; /* prevent forced stretching */
            object-fit: contain;
        }
}
