/* resets */

html,
body {
    /* background-color: aqua; */
    font-size: 18pt;
    font-family: 'DIN';
}

html,
body,
div,
p {
    padding: 0;
    margin: 0;
}


/* debug */

div,
p {
    /* border: 3px dotted gray; */
}

div {
    /* background-color: cadetblue; */
}

div div {
    /* background-color: coral; */
}

div div div {
    /* background-color: bisque; */
}

div div div div {
    /* background-color: darkolivegreen; */
    /* background-color: #eee; */
}

@font-face {
    font-family: 'DIN';
    /* src: url('/fonts/D-DIN.otf') format('opentype'); */
    /* test cestiny: */
    src: url('/fonts/651-font.otf') format('opentype');
}

@font-face {
    font-family: 'DINCondensed';
    src: url('/fonts/D-DINCondensed.otf') format('opentype');
}

:root {
    /* only for VSCode editor, real colors are overriden in the template based on the purpose (preview or real EPD) */
    --epd-black: #000;
    --epd-white: #fff;
    --epd-red: #f00;
    --epd-yellow: #ff0;
}

body {
    /* background-color: burlywood; */
    background-color: var(--epd-white);
    color: var(--epd-black);
}

div#visible-area {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 780px;
    width: 460px;
    overflow: hidden;
    /* background-color: gainsboro; */
}

div.top-date-row {
    display: flex;
    flex-wrap: wrap;
    /* for the case when the date or name is too long */
    justify-content: space-between;

    padding-bottom: 0.2em;
    border-bottom: 2px solid var(--epd-black);
}

div.calendar-container {
    overflow: hidden;
}

div.calendar-event-block {
    margin-top: 1rem;
}

div.calendar-event-block-today {
    color: var(--epd-red);
}

div.calendar-event-block-title {
    font-weight: bold;
    margin-top: 0.5rem;
    padding: 0.2rem 0.5rem;
    width: 100%;
    background-color: var(--epd-black);
    color: var(--epd-white);
}

div.calendar-event-block-today div.calendar-event-block-title {
    background-color: var(--epd-red);
    color: var(--epd-white);
}

div.calendar-event-block-content {}

div.calendar-day-title {
    font-weight: bold;
    margin-top: 0.5rem;
}

div.calendar-event {
    padding-top: 0.25rem;
}

div.calendar-event-block-title+div.calendar-event-block-content>div.calendar-day-title {
    padding-top: 0.25rem;
}

div#bottom-row {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 1.5rem;
    background-color: var(--epd-white);
}

div#bottom-signature {
    position: absolute;
    bottom: 0rem;
    left: 0;
    font-size: 0.7rem;
}

div#battery-status {
    position: absolute;
    bottom: -0.2rem;
    right: 0;
    text-align: right;
    font-size: 1.3rem;
}