/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

/* resets */
html,
body {
    /* background-color: aqua; */
    font-size: 14pt;
    /* font-family: sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Playpen Sans', sans-serif;
}

html,
body,
div,
p {
    padding: 0;
    margin: 0;
}

div#visible-area {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 460px;
    width: 780px;
    overflow: hidden;
    /* background-color: gainsboro; */
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0 0 1rem 0;
    color: var(--epd-black);
}

.image-and-alt {
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    padding: 0;
    gap: 1rem;
}

.portrait .image-and-alt {
    flex-direction: row;
}

.landscape .image-and-alt {
    flex-direction: column;
}

img {
    padding: 0;
}

.portrait img {
    max-height: fit-content;
    max-width: fit-content;
}

.landscape img {
    max-width: 100%;
    height: fit-content;
}