[Unit]
Description=Portal calendar web server for Puppeteer
After=network-online.target

[Service]
WorkingDirectory=/<PATH>/portal_calendar
Environment="MOJO_MODE=production-puppeteer"
PIDFile=/<PATH>/portal_calendar/server/hypnotoad-puppeteer.pid
ExecStart=/<PATH>/portal_calendar/server/scripts/run_webserver
ExecReload=/<PATH>/portal_calendar/server/scripts/run_webserver
Type=forking
Restart=always
TimeoutStartSec=infinity
TimeoutStopSec=600
KillMode=control-group

User=<USERNAME>
Group=<GROUPNAME>

[Install]
WantedBy=multi-user.target
