/* resets */

html,
body {
    /* background-color: aqua; */
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
}

html,
body,
div,
p {
    padding: 0;
    margin: 0;
}


/* debug */

div,
p {
    /* border: 3px dotted gray; */
}

div {
    /* background-color: cadetblue; */
}

div div {
    /* background-color: coral; */
}

div div div {
    /* background-color: bisque; */
}

div div div div {
    /* background-color: darkolivegreen; */
}


/* fonts */

@font-face {
    font-family: 'DIN';
    src: url('/fonts/D-DIN.otf') format('opentype');
}

@font-face {
    font-family: 'DINBold';
    src: url('/fonts/D-DIN-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'DINCondensed';
    src: url('/fonts/D-DINCondensed.otf') format('opentype');
}

body {
    /* background-color: burlywood; */
    font-family: 'DIN';
}

div#spacer {
    position: absolute;
    top: 50px;
    left: 80px;
    height: 700px;
    width: 390px;
    /* padding: 10px 20px 30px 40px;
    margin: 10px 20px 30px 40px; */
    /* background-color: gainsboro; */
}

div.top-month-header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;
    font-family: 'DIN';
    font-size: 24px;
    border-bottom: 2px solid black;
}

div.day-number-big {
    position: absolute;
    top: -35px;
    left: 0px;
    font-family: 'DINCondensed';
    font-size: 400px;
    transform: scale(0.8, 1) translate(-40px, 0);
}

div.day-of-week-block {
    position: absolute;
    top: 370px;
    left: 0px;
    width: 100%;
    height: 145px;
    font-family: 'DIN';
    font-size: 24px;
    border-bottom: 2px solid black;
}

div.row-dow-number-and-name {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 24px;
    width: auto;
    padding-bottom: 7px;
    border-bottom: 2px solid black;
}

div.row-dow-bars {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    padding: 6px 0;
}

div.row-dow-single-bar {
    width: 5px;
    height: 30px;
    margin-right: 3px;
    background-color: black;
    /* border-radius: 3px; */
}

div.icons-container {
    position: absolute;
    top: 525px;
    left: 0px;
    width: 100%;
    height: 145px;
    display: flex;
    flex-flow: row wrap;
    /* background-color: brown; */
}

.icon {
    height: 70px;
    width: 70px;
    background-image: url("/images/custom-portal-sign-icons-cropped.png");
    background-size: 1250px;
    border: 1px solid black;
    margin: 0 5px 5px 0;
}

.icon-a1 {
    background-position: -4px -4px;
}

.icon-a2 {
    background-position: -81px -4px;
}

.icon-a3 {
    background-position: -160px -4px;
}

.icon-a4 {
    background-position: -238px -4px;
}

img.aperture-logo {
    position: absolute;
    top: 700px;
    left: 0px;
    height: 30px;
}