@model PortalCalendarServer.Services.PageViewModel
@using System.Globalization
@using PortalCalendarServer.Models.DatabaseEntities
@using PortalCalendarServer.Services
@inject IDisplayService displayService

@{
    Layout = null;
    var webImage = Model.WebImage;
    var details = webImage?.GetDetails(Model.Display);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Web Image</title>

    @* Stylesheets *@
    <link rel="stylesheet" href="/css/calendar_themes/webimage.css" asp-append-version="true" />
</head>

@{
    int width = Model.Display.VirtualWidth();
    int height = Model.Display.VirtualHeight();
}
<body style="width: @(width)px; height: @(height)px;">
    <div id="visible-area">
        <img src="@(details?.ImageAsDataUrl ?? "")" />
    </div>
</body>
</html>
