/* Development environment indicator */

body::before {
    content: "DEVELOPMENT";
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 900;
    color: rgba(214, 250, 207, 0.5);
    white-space: nowrap;
    pointer-events: none;
    z-index: 9999;
    user-select: none;
}

body {
/*    background-color: #fff8f0;*/
}

.navbar.bg-light {
/*    background-color: rgba(214, 250, 207, 1.00) !important;*/
}
