/* Staging environment indicator */

body::before {
    content: "STAGING";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-35deg);
    font-size: 8rem;
    font-weight: 900;
    color: rgba(250, 207, 207, 0.25);
    white-space: nowrap;
    pointer-events: none;
    z-index: 9999;
    user-select: none;
}

body {
    /*    background-color: #f0f4ff;*/
}

.navbar.bg-light {
/*    background-color: rgba(250, 207, 207, 0.5) !important;*/
}

.sidebar-body {
    background-color: rgba(250, 207, 207, 0.25) !important;
}
