{
    # Google OAuth API Key Values
    # Get yours from: https://code.google.com/apis/console#access
    client_id => '12345-foobar.googleusercontent.com',    # ⚠️ replace with real value
    secret    => 'XYZZY-12345-bflmpsvz',                  # ⚠️ replace with real value

    # Google OAuth base uri
    oauth_auth  => 'https://accounts.google.com/o/oauth2/v2/auth',
    oauth_token => 'https://oauth2.googleapis.com/token',

    # Google Fit Scope
    scope => 'https://www.googleapis.com/auth/fitness.body.read',

    # Application callback
    cb => 'http://localhost:5555/cb',
}