@model PortalCalendarServer.Models.DatabaseEntities.Display
@using PortalCalendarServer.Controllers
@using PortalCalendarServer.Models.POCOs

@{
    ViewData["IntegrationName"] = "googlefit";
}

<fieldset class="row mb-3" id="@(ViewData["IntegrationName"])_fieldset">
    @await Html.PartialAsync("ConfigUi/_IntegrationToggle", Model, ViewData)

    <div class="col-md-12 mt-3 mb-3">
        <a class="btn btn-primary" href="@Url.Action(nameof(GoogleFitAuthController.GoogleFitRedirect), "GoogleFitAuth", new { displayNumber = Model.Id })">Authorize calendar to use Google Fit with the values below</a>
    </div>

    <div class="col-md-12">
        See <a href="https://console.cloud.google.com/apis/">https://console.cloud.google.com/apis/</a> to get client ID and secret values:
    </div>
    @await Html.PartialAsync("_ConfigTextInput", new ConfigInputModel
    {
        Display = Model, Key = "googlefit_client_id", Label = "Client ID",
        ColClass = "col-md-12", MarginClass = "mt-2"
    })
    @await Html.PartialAsync("_ConfigTextInput", new ConfigInputModel
    {
        Display = Model, Key = "googlefit_client_secret", Label = "Client secret",
        ColClass = "col-md-12", MarginClass = "mt-2"
    })
    @await Html.PartialAsync("_ConfigTextInput", new ConfigInputModel
    {
        Display = Model, Key = "_googlefit_refresh_token", Label = "Refresh token (generated automatically)",
        ColClass = "col-md-12", MarginClass = "mt-2", Disabled = true
    })
    @await Html.PartialAsync("_ConfigTextInput", new ConfigInputModel
    {
        Display = Model, Key = "_googlefit_access_token", Label = "Auth token (generated automatically)",
        ColClass = "col-md-12", MarginClass = "mt-2", Disabled = true
    })
</fieldset>
