@model PortalCalendarServer.Models.DatabaseEntities.Display
@using PortalCalendarServer.Models.POCOs

@{
    ViewData["IntegrationName"] = "mqtt";
}

<fieldset class="row mb-3" id="@(ViewData["IntegrationName"])_fieldset">
    @await Html.PartialAsync("ConfigUi/_IntegrationToggle", Model, ViewData)

    <div class="form-group row mt-3">
        @await Html.PartialAsync("_ConfigTextInput", new ConfigInputModel
        {
            Display = Model, Key = "mqtt_server", Label = "Server", ColClass = "col-md-3"
        })
        @await Html.PartialAsync("_ConfigTextInput", new ConfigInputModel
        {
            Display = Model, Key = "mqtt_username", Label = "Username", ColClass = "col-md-3"
        })
        @await Html.PartialAsync("_ConfigTextInput", new ConfigInputModel
        {
            Display = Model, Key = "mqtt_password", Label = "Password", ColClass = "col-md-3"
        })
        @await Html.PartialAsync("_ConfigTextInput", new ConfigInputModel
        {
            Display = Model, Key = "mqtt_topic", Label = "Device topic", ColClass = "col-md-3"
        })
    </div>
</fieldset>
